{% extends 'users.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
   
     <div class="content">
          <div class="container">
      <div class="progress-bar">
          <p>Bienvenue sur Expat-Dakar</p><br>              
      </div>
          <p style="font-size: 20px;">
          <button class="clack"><div class="btn-round"><i class="fas fa-info"></i></div></button>
          <button class="click"> 
  {% for flashError in app.flashes('reset_password_error') %}<div class="alert alert-danger" role="alert">{{ flashError }}</div>{% endfor %}
Vous devez vous connnecter pour continuer.
          </button>
          </p>
      <div class="form-outer">
       {{ form_start(requestForm) }}
  
        <div class="page slide-page">
    
            <div class="field">
        {{ form_row(requestForm.email ,{'attr': {'placeholder': 'Entrer votre email '}}) }}
       <i class='fas fa-phone-alt' style="position: absolute;top: 95%;left: 18px;color: #ccc;font-size: 17px;pointer-events: none;transform: translateY(-50%);"></i>
       
        </div>
          <div class="field btns">
            <button class="btn btn-primary" style="margin-top:-5%;">Send password reset email</button>
           
             </div>
          </div>

   {{ form_end(requestForm) }}
    
<div style="margin-top:-5%;width: 40%;background-color: #000; height:3px;margin-left:0%;"></div>
<div style="margin-top:-1%;width: 40%;background-color: #000; height:3px;margin-left:60%;"></div>
<div class="auth">Ou</div>

        <div class="links">
        <div class="facebook">
          <span class="fab fa-facebook-square"></span><p style=" position: absolute;font-size: 17px;
    font-weight: bold;padding-left: 50px;font-family: 'Open Sans', sans-serif;line-height: 50px;">Facebook</p>
        </div>
        <div class="google">
          <span class="fab fa-google-plus-square"></span><p style=" position: absolute;font-size: 17px;
    font-weight: bold;padding-left: 50px;font-family: 'Open Sans', sans-serif;line-height: 50px;">Google</p>
        </div>
      </div>
       <div class="links">
        <div class="facebook">
          <span class="fab fa-facebook-square"></span><p style=" position: absolute;font-size: 17px;
    font-weight: bold;padding-left: 50px;font-family: 'Open Sans', sans-serif;line-height: 50px;">Facebook</p>
        </div>
        <div class="google">
          <span class="fab fa-google-plus-square"></span><p style=" position: absolute;font-size: 17px;
    font-weight: bold;padding-left: 50px;font-family: 'Open Sans', sans-serif;line-height: 50px;">Google</p>
        </div>
      </div>
   


   </div>
      
         <div class="container2">
    <div class="info">
      Mot de passe oublier ? <a href="{{ path('app_forgot_password_request') }}" ><span>Click-ici</span></a>
    </div>
 </div> 
  <div class="container3">
    <div class="info">
       <h2>
         En créant un compte et en vous connectant,
       </h2>
       <span>vous acceptez les Conditions et Charte d'utilisation.</span>
    </div>
 
 </div>
   </div>

{% endblock %}
