{% extends 'app.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1 style="
    background: yellow;
    width: 98.3%;
    height: 60px;
    line-height: 62px;
    padding-left: 17px;
    border-bottom: 5px solid blue;
    border-left: 5px solid blue;
">Liste des utilisateurs</h1>
<table style="margin-left: 5%;">
	 <td>
  <a href="{{ path('admin_home') }}" style="position: absolue;
		display: inline-block;
		width:150px;
        height:44px;
	    margin-top: 1px;
		z-index: 5;
		text-align: left;
		padding: 7px 15px;
		border:2px solid #fff;
		text-decoration: none;
		font-size: 12px;
		line-height: 25px;
		font-weight: 1000;
		-webkit-transition: color .2s ease, background .5s ease;
		-o-transition: color .2s ease, background .5s ease;
		transition: color .2s ease, background .5s ease;
		overflow: hidden; background: #97C6E3;
		color: blue" class="link">Accueil</a>
</td><td>
<a href="{{ path('admin_users') }}" style="position: absolue;
		display: inline-block;
		width:150px;
        height:44px;
	    margin-top: 1px;
		z-index: 5;
		text-align: left;
		line-height: 25px;
		padding: 7px 15px;
		border:2px solid #fff;
		text-decoration: none;
		font-size: 12px;
		font-weight: 1000;
		-webkit-transition: color .2s ease, background .5s ease;
		-o-transition: color .2s ease, background .5s ease;
		transition: color .2s ease, background .5s ease;
		overflow: hidden; background: #97C6E3;
		color: blue" class="link">Utilisateur</a>
</td><td>
<a href="{{ path('admin_annonces_home') }}" style="position: absolue;
		display: inline-block;
		width:150px;
        height:44px;
	    margin-top: 1px;
		z-index: 5;
		text-align: left;
		line-height: 25px;
		padding: 7px 15px;
		border:2px solid #fff;
		text-decoration: none;
		font-size: 12px;
		font-weight: 1000;
		-webkit-transition: color .2s ease, background .5s ease;
		-o-transition: color .2s ease, background .5s ease;
		transition: color .2s ease, background .5s ease;
		overflow: hidden; background: #97C6E3;
		color: blue" class="link">ANNONCES</a>
</td><td>
<a href="{{ path('admin_categories_home') }}" style="position: absolue;
		display: inline-block;
		width:150px;
        height:44px;
	    margin-top: 1px;
		z-index: 5;
		text-align: left;
		line-height: 25px;
		padding: 7px 15px;
		border:2px solid #fff;
		text-decoration: none;
		font-size: 12px;
		font-weight: 1000;
		-webkit-transition: color .2s ease, background .5s ease;
		-o-transition: color .2s ease, background .5s ease;
		transition: color .2s ease, background .5s ease;
		overflow: hidden; background: #97C6E3;
		color: blue" class="link">Categorie</a>
</td><td>
<a href="{{ path('users_pass_modifier') }}" style="position: absolue;
		display: inline-block;
		width:150px;
        height:44px;
	    margin-top: 1px;
		z-index: 5;
		text-align: left;
		line-height: 25px;
		padding: 7px 15px;
		border:2px solid #fff;
		text-decoration: none;
		font-size: 12px;
		font-weight: 1000;
		-webkit-transition: color .2s ease, background .5s ease;
		-o-transition: color .2s ease, background .5s ease;
		transition: color .2s ease, background .5s ease;
		overflow: hidden; background: #97C6E3;
		color: blue" class="link">Boite de réception</a>
</td><td>
<a href="{{ path('app_logout') }}" style="position: absolue;
		display: inline-block;
		width:150px;
        height:44px;
	    margin-top: 1px;
		z-index: 5;
		text-align: left;
		line-height: 25px;
		padding: 7px 15px;
		border:2px solid #fff;
		text-decoration: none;
		font-size: 12px;
		font-weight: 1000;
		-webkit-transition: color .2s ease, background .5s ease;
		-o-transition: color .2s ease, background .5s ease;
		transition: color .2s ease, background .5s ease;
		overflow: hidden; background: #97C6E3;
		color: blue" class="link">Deconnection</a>
</td>
</table>
    <table>
        <thead>
            <th>ID</th>
            <th>Email</th>
            <th>Rôles</th>
            <th>Annonces</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {# On boucle sur les utilisateurs #}
            {% for users in users %}
                <tr>
                    <td style='min-width:40px;color:#000'>{{ users.id }}</td>
                    <td style='min-width:40px;color:#000'>{{ users.email }}</td>
                    <td style='min-width:40px;color:#000'>
                        {# On boucle sur les rôles #}
                        {% for role in users.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_EDITOR" %}
                                Editeur
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td style='min-width:40px;color:#000'>{{ users.Annonces|length }}</td>
                    <td style='min-width:40px;color:#000'><a href="{{ path('admin_modifier_utilisateur', {'id': users.id}) }}">Modifier</a></td>
                </tr>
                
            {% else %}
                <p>Aucun utilisateur inscrit</p>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
