<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
             <link rel="stylesheet" href="{{ asset('css/styles_2.css') }}">
        <script defer src="../fonts/fontawesome-free-5.11.2-web/fontawesome-free-5.11.2-web/js/all.js"></script>

        {% endblock %}

    </head>
    <body>
           {% if app.request.attributes.get('_route') == 'app_login' %}
        {{ include('inc/navbar-login.html.twig')}}
           {% elseif app.request.attributes.get('_route') == 'app_forgot_password_request'%}
        {{ include('inc/navbar-verifie.html.twig')}}
           {% elseif app.request.attributes.get('_route') == 'app_reset_password'%}
        {{ include('inc/navbar-verifie.html.twig')}}
           {% elseif app.request.attributes.get('_route') == 'app_check_email'%}
        {{ include('inc/navbar-verifie.html.twig')}}
         {% else %}
        {{ include('inc/navbar-register.html.twig')}}
           {% endif %}

        {% block body %}{% endblock %}

        {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
            <script src="{{ asset('js/jquery-3.6.0.js') }}"></script>
            <script src="{{ asset('js/style_2.js') }}"></script>
        {% if app.request.attributes.get('_route') == 'app_login' %}
            <script src="{{ asset('js/styles_2_a.js') }}"></script>
        {% else %}
            <script src="{{ asset('../js/styles_2_b.js') }}"></script>
        {% endif %}

        {% endblock %}
    </body>
</html>
