{% extends 'profil.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
<style>
{% if app.request.attributes.get('_route') == 'users_profil_modifier' %}
  #bodyright{
       
        padding:3.7%;
               
        padding-bottom:0%;
               
        box-sizing:border-box;
               
        border-radius: 1px;
               
        margin-top: 5%;
               
        width: 100%;
               
        height: 425px;
               
        background: #000;
               
        margin-left: 0%;
            }

               .sign-up-form-3 {
                    width: 872px;
                    background-color:#f8e896;
                    margin:auto;
                    margin-left: 11%;
                    margin-top: 1%;
                    border-radius: 5px ;
                    border: 2px solid #97C6E3;
                    padding: 3px;
                    }
   
.container11{
    max-width: 861px;
    background: #97C6E3;
    width: 861px;
    padding: 13px 20px 13px 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

  }
  .container11 .text{
      text-align: left;
      font-size: 22px;
      width: 111.1%;
      background: blue;
      -webkit-text-fill-color: #000;
      margin-top: -8%;
      margin-left: -5.5%;
  }
   
            #bodyright h2{
                border-radius:1px;
                height:50px;
                line-height:25px;
                text-align: left;
                margin-left: 0%;
                background: #48DBFB;
            }
    .container11 form{
      padding: 17px 0 0 0;
    }
  .container11 form .form-row{
    display: flex;
    margin: 32px 0;
  }
  form .form-row .input-data2{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
  }
  .input-data2 input{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
  }
  .input-data2 input:focus ~ label, .password .password:focus ~ label,
  .input-data2 input:valid ~ label, .password .password:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color: blue;
  }
  .input-data2 label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .input-data2 .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data2 .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data2 input:focus ~ .underline:before,
  .input-data2 input:valid ~ .underline:before,
  .textarea .password:focus ~ .underline:before,
  .textarea .password:valid ~ .underline:before{
    transform: scale(1);
  }
#bodyright form button{
                margin-top:10px;
                border-radius:3px;
                border:2px solid #f8e896;
                width:100px;
                height:40px;
                font-weight:bold;
                outline:none;
                background:#fff;
            }
            
            #bodyright form button:hover{
                background:#f8e896;
                color:#fff;
            }
  @media (max-width: 870px) {
.sub-menu li{ 
    width: 226.5px;
    border: 1px solid white;
}
  #bodyright {
    display: block;
	margin-top: 15%;
	margin-left: -3.5%;
  }
 .sign-up-form-3 {
    width: 40%;
    margin-left: 0%;
  display: block;
  }
  .container11{
    width: 493px;
  }

  .container11 form{
      width:100%;
    }

}
    {% else %}

     #bodyright{
       
        padding:3.7%;
               
        padding-bottom:0%;
               
        box-sizing:border-box;
               
        border-radius: 1px;
               
        margin-top: 5%;
               
        width: 100%;
               
        height: 425px;
               
        background: #000;
               
        margin-left: 0%;
            }
      #bodyright h2{
                border-radius:1px;
                height:50px;
                line-height:25px;
                text-align: left;
                margin-left: 0%;
                background: #48DBFB;
            }
                .sign-up-form-3 {
                    width: 872px;
                    background-color:#f8e896;
                    margin:auto;
                    margin-left: 11%;
                    margin-top: 1%;
                    border-radius: 5px ;
                    border: 2px solid #97C6E3;
                    padding: 3px;
                    }
.container12{
   max-width: 861px;
    background: #97C6E3;
    width: 861px;
    padding: 13px 20px 13px 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .container12 .text{
    text-align: left;
    font-size: 22px;
    width: 111.1%;
    background: blue;
    -webkit-text-fill-color: #000;
    margin-top: -2%;
    margin-left: -5.5%;
  }
  .container12 form{
    padding: 20px 0 0 0;
  }
  .container12 form .form-row{
    display: flex;
    margin: 32px 0;
  }
  form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
  }
  
  .input-data input{
    display: block;
    width: 53%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
    margin-left: -3%;
  }
  .input-data input:focus ~ label, .password .password:focus ~ label,
  .input-data input:valid ~ label, .password .password:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color: blue;
  }
  
  .input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-left: -3%;
  }
  
  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 53%;
    margin-left: -3%;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea .password:focus ~ .underline:before,
  .textarea .password:valid ~ .underline:before{
    transform: scale(1);
  }
  .submit-btn {
    overflow: hidden;
    height: 45px!important;
    width: 50%!important;
    font-size: 25px;
  }
    #bodyright form button{
                margin-top:10px;
                border-radius:3px;
                border:2px solid #f8e896;
                width:100px;
                height:40px;
                font-weight:bold;
                outline:none;
                background:#fff;
            }
            
            #bodyright form button:hover{
                background:#f8e896;
                color:#fff;
            }

  @media (max-width: 870px) {
.sub-menu li{ 
    width: 226.5px;
    border: 1px solid white;
}
  #bodyright {
    display: block;
	margin-top: 15%;
	margin-left: -3.5%;
  }
 .sign-up-form-3 {
    width: 40%;
    margin-left: 0%;
  display: block;
  }
  .container12{
    width: 493px;
  }

  .container12 form{
      width:100%;
    }

}
{% endif %}
</style>


<section class="section-2">
{% if app.request.attributes.get('_route') == 'users_profil_modifier' %}
{% for message in app.flashes('error') %}
<div style="font-size: 22px;font-weight: 600;padding: 20px 30px;border-bottom: 1px solid red;  background-color: #025ce3;" class="alert alert-danger">{{message}}</div>	
{% endfor %}

<div class="banner"> 
	{% for message in app.flashes('message') %}
			<div class="col-xs4">
				<div class="p-3 my-2 rounded-2 success">{{message}}</div>
			</div>
		{% endfor %}
         <div class="banner-content">
         
		    <!-- Hero Section  -->
   
				   <!-- Hero Section  -->  
       </div>
       </div>  

  <!-- banner -->
<div class="scroll" id="bodyright">
 
<h2>Modification du profil de {{ app.user.nom }} {{ app.user.prenom }} 
<i class="fas fa-user-edit"></i>
</h2>

	<fieldset class="sign-up-form-3">
	 <div class="container11">
	<form name="editerprofile" method="post">
 <div class="form-row">
            <div class="input-data2">
              <input type="text" id="prenom" name="prenom" class="form-control" value="{{ app.user.prenom }}" required>
               <div class="underline"></div>
               <label for="pass">Prenom</label>
            </div>
            <div class="input-data2">
              <input type="text" id="nom" name="nom" class="form-control" value="{{ app.user.nom }}" required>
               <div class="underline"></div>
               <label for="nom">Nom</label>
            </div>
            </div>
            <div class="form-row">
            <div class="input-data2">
              <input type="text" id="email" name="email" class="form-control" value="{{ app.user.email }}" required>
               <div class="underline"></div>
               <label for="pass">Email</label>
            </div>
            <div class="input-data2">
              <input type="text" id="telephone" name="telephone" class="form-control" value="{{ app.user.telephone }}" required>
               <div class="underline"></div>
               <label for="telephone">Telephone</label>
            </div>
            </div>

  <button class="submit-btn" style="margin-top:-2%;overflow:hidden;height:45px!important;width:100%!important;font-size: 25px;">Enrigistrer</button>
  </div>
     </form>
</div>   	       	                
</fieldset>
</div>
     {% else %}

{% for message in app.flashes('error') %}
<div style="font-size: 22px;font-weight: 600;padding: 20px 30px;border-bottom: 1px solid red;  background-color: #025ce3;" class="alert alert-danger">{{message}}</div>	
{% endfor %}

<div class="banner"> 
	{% for message in app.flashes('message') %}
			<div class="col-xs4">
				<div class="p-3 my-2 rounded-2 success">{{message}}</div>
			</div>
		{% endfor %}
         <div class="banner-content">
         
		    <!-- Hero Section  -->
   
				   <!-- Hero Section  -->  
       </div>
       </div>  

  <!-- banner -->
<div class="scroll" id="bodyright">
 
<h2>Modification du carnet d'adresses de {{ app.user.prenom }} {{ app.user.nom }}</h2>

	<fieldset class="sign-up-form-3">
	 <div class="container12">
	 <form name="editerprofile" method="post">
         <div class="form-row">
           <div class="input-data">
            <input type="text" id="ville" name="ville" class="form-control" value="{{ app.user.ville }}" required>
               <div class="underline"></div>
               <label for="ville">Ville</label>
         </div>
         </div>
             <div class="form-row">
            <div class="input-data">
               <input type="text" id="addresse" name="addresse" class="form-control" value="{{ app.user.addresse }}" required>
               <div class="underline"></div>
               <label for="addresse">Addresse</label>  
              </div>
         </div>
              <button class="submit-btn" style="margin-top:-2%">Enrigistrer</button>
      </form> 
</div>   	       	                
</fieldset>
</div>
{% endif %}
      </section>
{% endblock %}
